.ArticleTeaser {
  display: block;
}

.ArticleTeaser-title {
  margin: 0 0 4px;
  color: #999;
  font-size: 16px;
}

.ArticleTeaser-lead {
  margin: 0;
  color: rgba(black, 0.7);
  font-size: 14px;
  line-height: 20px;
}
